.completed {
    text-decoration: line-through;
}

.secondary-content a {
    margin: 0 0.5em;
}

.commplete-task{
    color: #3baa3b;
}

.incomplete-task{
    color: #d31818;
}

i{
    cursor: pointer;
}

.center-button{
    text-align: center;   
}

.input-field{
    margin: 0 auto;
    width: 75%;
}

/*
    General
*/

.body{
    background-color: #479fed;
}

header{
    font-family: 'Playfair Display', serif;
}

.Easter{
   text-align: center;
    color: darkblue;
}